/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-fixed-top {
  top: 10px;
  height: 10px;
}

p {
    font-size: 20px;
    display: block;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    color: black;
    font-weight: bold;
}


section.module.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 55px;
    color: #fff;
    background-color: #172132;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
    height: 30px;
}
element.style {
   background-image: url(https://www.suncappart.com/app/uploads/2017/01/home-hero.jpg);
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
#footer-menu {
    padding-top: 21px;
    padding-bottom: 20px;
    text-color: black;
    background-color: grey;
}

section.module.hero--large {
   height: 90vh;
}

span {
  color: white;
  font-family: "Times New Roman", Times, serif;
}


// h1 {
//   text-align: center;
//   color: blue;
// }


p {
   font-size: 20px;
   display: block;
   margin-top: 1em;
   text-align: center;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   color: black;
   font-weight: bold;
}

p1 {
  font-size: 20px;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  color: black;



}


span1 {
  font-size: 20px;
  font-weight: bold;
}

a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

li:hover, li:active {
    text-decoration: underline;
}
a {
    color: white;

    font-size: medium;
    width: 100px;
    align-content: right;
}


// @media(min-width:767px) {
//     .navbar {
//         padding: 10px 0;
//         -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
//         -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
//         transition: background .5s ease-in-out,padding .5s ease-in-out;
//     }
//
//     .top-nav-collapse {
//         padding: 0;
//     }
// }
element.style {
}


// @media (min-width: 768px)
.navbar-collapse.collapse {
    display: block !important;
    height: 100px !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-fixed-top.scrolled {
  background-color: #989898 !important;
  transition: background-color 200ms linear;
footer {
  background-color: #989898
}


}
.header {
    position: fixed;
    top: 0px;
    left: 9px;
    right: 9px;
    height: 50px;
    border: 1px dotted blue;
    background-color: rgba(125, 125, 125, 0.5);
}
.main {
    margin-top: 60px;
    border: 1px solid blue;
    width: 25%;
}





img {
  max-width: 100%;
  display: inline-block;
}
/* For medium devices (e.g. tablets) */
@media (min-width: 420px) {
  img {
    max-width: 48%;
  }
}
/* For large devices (e.g. desktops) */
@media (min-width: 760px) {
  img {
    max-width: 24%;
  }
}
